{% extends 'master/base.html' %}

{% block body %}
  <body>
    {% include 'master/message.html' %}
    <div class="card" style="">
      <img src="/{{ event.event_image }}" class="card-img-top" alt="{{event.event_title}}" />
      <div class="card-body">
        <h5 class="card-title">{{event.event_title}}</h5>
        <p class="card-text">{{event.event_description}}</p>
        <p class="card-text">{{event.event_date}}</p>
        <p class="card-text">{{event.event_type}}</p>
        <p class="card-text">{{event.event_status}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </body>
{% endblock %}
